.home{
   
    .who-we-are{
        background: linear-gradient(rgba(255, 255, 255, 0.836), rgba(255, 255, 255, 0.884) ), url("../../assets/images/about/images-1-8.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        // background-color:  red ;
            .wwa-image{


            }
    }
}